<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title | GlobeFA</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/Content/sb-admin-2.css" rel="stylesheet">
    <link href="~/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.11.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/Scripts/sb-admin-2.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>